#root {
    margin: 0;
    padding: 0;
    --mars-orange: rgb(194, 94, 47);
    --main-grey: rgba(119, 136, 153, .80);
}

.message-page-container {
    height: 100vh;
    background: url("mars-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.message-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 35.60em;
    width: 70em;
    gap: 2em;
}

#dm-title {
    display: block;
    width: 50em;
}

#dm-title h1 {
    margin: 5px;
}

.messages-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("grey-rock-back.jpg");
    opacity: .80;
    border-radius: 10px;
    color:rgb(194, 94, 47);
    box-shadow: -10px 10px rgba(0, 0, 0, .30);
    overflow: scroll;
}

.direct-box {
    height: 17.74em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(to bottom right, var(--mars-orange), rgb(68, 66, 66)); */
    background: url("dash-back.jpg");
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: -10px 10px rgba(0, 0, 0, .30);
}

.direct-box h1 {
    color: rgba(0, 0, 0, .70);
}

.group-box {
    height: 17.74em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(to bottom right, var(--mars-orange), rgb(68, 66, 66)); */
    background: url("dash-back.jpg");
    border-radius: 10px;
    box-shadow: -10px 10px rgba(0, 0, 0, .30);
}

.group-box h1 {
    color: rgba(0, 0, 0, .70);
}

.name-box {
    height: 2.5em;
    width: 10em;
    font-size: 1.2em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom right, var(--main-grey), black); */
    background: url("moon-back.jpg");
    background-size: cover;
    border-radius: 10px;
    color: rgba(255, 255, 255, .60);
}

.message-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-input input {
    display: block;
    width: 600px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, .60);
    color: rgb(131, 86, 131);
    border: none;
    border-radius: 10px;
}

.message-input input:focus {
    outline: none;
    border: 4px solid var(--mars-orange);
}

.message-input button {
    width: 60px;
    height: 40px;
    margin-left: 0px;
    margin-right: 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .60);
    cursor: pointer;
}

.message-input button:hover {
    background-color: rgb(131, 86, 131);
}

.add-icon {
    height: 30px;
    width: 30px;
}

.add-icon:hover {
    cursor: pointer;
    opacity: 0.50;
}

.group-header {
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.group-add {
    height: 2.25em;
    width: 12.5em;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    display: none;
}

.group-x {
    font-weight: 900;
    font-size: 20px;
    display: none;
}

.group-x:hover {
    cursor: pointer;
}

.group-add:focus {
    outline: none;
    border: 4px solid rgb(131, 86, 131);
}

.messages-box {
    opacity: 0;
    animation: fadein;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0%   {opacity: 0}
    100% {opacity: .80}
}

.direct-box {
    position: relative;
    animation: dirangle;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes dirangle {
    0%   {bottom: 500px;
         left: 1300px}

    100% {bottom: 0px;
         left: 0px}
}


.group-box {
    position: relative;
    animation: grangle;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes grangle {
    0%   {top: 500px;
         left: 1300px}

    100% {top: 0px;
         left: 0px}
}

/* Message Component */

.message-container {
    margin: 0px 10px 20px 10px;
    width: fit-content;
    height: fit-content;
    border-top: 2px solid rgba(131, 86, 131, .80);
    border-bottom: 2px solid rgba(255, 255, 255, .60);
    font-size: 1.3em;
}

.message-container p {
    color:rgba(255, 255, 255, .60)
}

.messages-in {
    overflow: scroll;
}