#root {
    margin: 0;
    padding: 0;
    --mars-orange: rgb(194, 94, 47);
    --main-grey: rgba(119, 136, 153, .80);
}

.message-page-container {
    height: 100vh;
    background: url("mars-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.message-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 35.60em;
    width: 70em;
    gap: 2em;
}

#dm-title {
    display: block;
    width: 50em;
}

.messages-box {
    /* background: linear-gradient(to bottom right, var(--main-grey), black); */
    background: url("grey-rock-back.jpg");
    opacity: .80;
    border-radius: 10px;
    color:rgb(194, 94, 47);
}

.direct-box {
    height: 17.74em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom right, var(--mars-orange), rgb(68, 66, 66));
    border-radius: 10px;
    margin-bottom: 1em;
}

.group-box {
    height: 17.74em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom right, var(--mars-orange), rgb(68, 66, 66));
    border-radius: 10px;
}

.name-box {
    height: 2.5em;
    width: 10em;
    font-size: 1.2em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, var(--main-grey), black);
    border-radius: 10px;
}

.messages-box {
    opacity: 0;
    animation: fadein;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0%   {opacity: 0}
    100% {opacity: .80}
}